<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="grid">
        <div class="center">
            <h1 class="red">Accueil</h1>
            <ion-icon name="airplane-outline"></ion-icon>
            <ion-badge color="tertiary">33</ion-badge>
            <button class="ion-activatable ripple-parent">
                A button with a bounded ripple effect
                <ion-ripple-effect></ion-ripple-effect>
              </button>
        </div>
    </div>
</ion-content>